footer {
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 4em;
}

footer p {
    font-size: 0.8em;
    font-weight: 500;
}

footer .footer-description{
    font-size: 0.5em;
}